@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  background-color: #161517;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  transition: background-color 1s 999999s;
  color: white;
  text-decoration-color: white;
  fill: white;
  -webkit-text-fill-color: white;
  border-color: white;
  caret-color: white;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-image: none;
  background-color: transparent;
  color: white;
}

