@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  background-color: #161517;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
